<footer class="wrapper-footer">
    <h3 class="footer-info">- get in touch with us -</h3>
    <p class="footer-text">
        Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec
        malesuada ullamcorper odio.
        <span class="footer-text768">Curabitur blandit tempus porttitor vollisky inceptos mollisestor.</span>
    </p>
    <div class="footer-text1170">
        <p>Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec</p>
        <p>malesuada ullamcorper odio. Curabitur blandit tempus porttitor vollisky inceptos mollisestor.</p>
    </div>
    <div class="icons">
        <a href="" class="rss icon"></a>
        <a href="" class="facebook icon"></a>
        <a href="" class="twitter icon"></a>
        <a href="" class="dribble icon"></a>
        <a href="" class="pinterest icon"></a>
    </div>
    <div class="site-contact">
        <span>Moonshine St. 14-05 Light / </span><br/>
        <a class="contact" href="tel:+001234567890">T. +00 (123) 456 78 90</a><span> /</span><br/>
        <a class="contact" href="malito:first.last@email.com">first.last@email.com</a>
    </div>
</footer>