<header>
    <div class="container">
        <div class="burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <nav class="nav">
            <ul class="nav-menu">
                <li class="nav-item"><a href="#">Home</a></li>
                <li class="nav-item"><a href="#">About Us</a></li>
                <li class="nav-item"><a href="#">Our Journal</a></li>
                <li class="nav-item"><a href="#">Projects</a></li>
                <li class="nav-item"><a href="#">news</a></li>
                <li class="nav-item"><a href="#">features</a></li>
                <li class="nav-item"><a href="#">contact</a></li>
            </ul>
        </nav>
    </div>
</header>