<section class="instagram">
    <div class="instagram-title">
        <h3 class="last-instagram">- Last Instagram Shot</h3>
        <h3 class="last-instagram more_768">go to our instagram page -</h3>
    </div>
    <div class="wrapper-bike">
        <img class="bikes" src="./img/inst_1.png" alt="bike">
        <img class="bikes size-768" src="./img/inst_2.png" alt="bike">
        <img class="bikes size-768" src="./img/inst_3.png" alt="bike">
        <img class="bikes size-1200" src="./img/inst_4.png" alt="bike">
    </div>
</section>