<main>
    <section>
        <div class="image-container">
            <img src="./img/mainImg320.png" alt="Image" class="responsive-image image-320">
            <img src="./img/mainImg768.png" alt="Image" class="responsive-image image-768">
            <img src="./img/mainImg1170.png" alt="Image" class="responsive-image image-1170">
        </div>
    </section>
</main>