<section class="posts">
    <h2 class="our-posts">- our Recent posts</h2>
    <ul class="post-pictures">
        <li class="post-item">
            <img class="posts-photo" src="./img/img.png" alt="kettle">
            <div class="post-item-text">
                <h3 class="text-posts">Aenean Adipiscing Etiam Vestibulum</h3>
                <p class="comments">Photography, Journal / 9 Comments</p>
                <span class="post-item-text-description">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</span>
            </div>
        </li>
        <li class="post-item">
            <img class="posts-photo" src="./img/img_1.png" alt="umbrella">
            <div class="post-item-text">
                <h3 class="text-posts">Aenean Adipiscing Etiam Vestibulum</h3>
                <p class="comments">Photography, Journal / 9 Comments</p>
                <span class="post-item-text-description">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</span>
            </div>
        </li>
        <li class="post-item">
            <img class="posts-photo" src="./img/img_2.png" alt="table">
            <div class="post-item-text">
                <h3 class="text-posts">Aenean Adipiscing Etiam Vestibulum</h3>
                <p class="comments">Photography, Journal / 9 Comments</p>
                <span class="post-item-text-description">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</span>
            </div>
        </li>
        <li class="post-item">
            <img class="posts-photo" src="./img/img_3.png" alt="table">
            <div class="post-item-text">
                <h3 class="text-posts">Aenean Adipiscing Etiam Vestibulum</h3>
                <p class="comments">Photography, Journal / 9 Comments</p>
                <span class="post-item-text-description">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</span>
            </div>
        </li>
    </ul>
</section>