.wrapper-footer {
  padding: 0 35px 0 35px;
  line-height: 20px;
  background: $black;
  align-items: center;
  text-align: center;
  width: 373px;
}

.footer-info {
  font-weight: 700;
  font-size: 14px;
  color: #FEFEFE;
  text-transform: uppercase;
  padding-top: 38px;
  padding-bottom: 8px;
}

.footer-text {
  font-weight: 400;
  font-size: 12px;
  color: #B9B9B9;
  margin: 0;
}

.site-contact {
  padding-bottom: 47px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #B9B9B9;

}

.contact {
  color: #B9B9B9;
}

.icons {
  display: flex;
  justify-content: center;
}

.icon {
  width: 34px;
  height: 34px;
  background-repeat: no-repeat;
  margin: 26px 4px 26px 4px;
  //margin: 37px 4px 37px 4px;
}

.rss {
  background-image: url(../svg/rss.svg);
}

.facebook {
  background-image: url(../svg/facebook.svg);
}

.twitter {
  background-image: url(../svg/twiter.svg);
}

.dribble {
  background-image: url(../svg/dribble.svg);
}

.pinterest {
  background-image: url(../svg/pinterest.svg);
}

.footer-text768 {
  display: none;
}

.footer-text1170 {
  display: none
}

@media (min-width: 768px) and (max-width: 1199px) {
  .wrapper-footer {
    width: 940px;
  }
  .footer-text768 {
    display: block;
  }
  .site-contact {
    display: flex;
    justify-content: space-around;
    width: 480px;
    margin: auto;
    padding-bottom: 56px;
  }
}

@media (min-width: 1200px) {
  .wrapper-footer {
    width: 1600px;
    font-size: 16px;
  }
  .footer-info {
    padding-top: 66px;
  }
  .footer-text {
    display: none;
  }
  .site-contact {
    display: flex;
    justify-content: space-around;
    width: 480px;
    margin: auto;
    padding-bottom: 70px;
  }
  .footer-text1170 {
    display: block;
    font-size: 16px;
    line-height: 28px;
    color: #B9B9B9;
  }
}