.instagram {
  padding: $padding-content_320;
  margin-top: 77px;
}

.last-instagram {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  color: $burger-color-text;
  margin-bottom: 13px;
}

.wrapper-bike {
  margin-bottom: 42px;
}

.size-768, .more_768, .size-1200 {
  display: none;
}

.instagram-title {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .instagram {
    padding: 47px 80px 50px 90px;
    width: 940px;
    margin: 0;
    background: rgba(0, 0, 0, 0.03);
  }
  .last-instagram {
    margin-bottom: 35px;
  }
  .wrapper-bike {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }
  .bikes {
    width: 249px;
  }
  .size-768, .more_768 {
    display: flex;
  }
}

@media (min-width: 1170px) {
  .instagram {
    padding: 47px 75px 49px 215px;
    width: 1600px;
    margin: 0;
    background: rgba(0, 0, 0, .03);
  }
  .instagram-title {
    width: 1170px;
  }
  .wrapper-bike {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin-bottom: 0;
  }
  .last-instagram {
    margin-bottom: 24px;
  }
  .bikes {
    width: 285px;
  }
  .size-768, .more_768, .size-1200 {
    display: flex;
  }
}