.posts {
  padding: $padding-content_320;
}

.our-posts {
  font-weight: 700;
  font-size: 14px;
  color: $burger-color-text;
  text-transform: uppercase;
  margin-top: 38px;
  margin-bottom: 23px;
}

.posts-photo {
  width: 160px;
  height: 140px;
  margin-bottom: 11px;
}

.text-posts {
  color: $burger-color-text;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 6px;
}

.comments {
  font-weight: 400;
  font-size: 11px;
  color: $light-gray;
  margin-bottom: 11px;
}

.post-item-text-description {
  display: none;
}

.post-item:last-child {
  display: none;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .posts {
    padding: $padding-content_768;
  }
  .our-posts {
    margin-top: 56px;
    margin-bottom: 24px;
  }
  .post-item:last-child {
    display: flex;
  }
  .post-item {
    display: flex;
    padding-bottom: 32px;

    .post-item-text {
      padding-left: 21px;

      .post-item-text-description {
        display: block;
        width: 450px;
      }
    }
  }
}

@media (min-width: 1170px) {
  .post-pictures {
    display: flex;
    flex-wrap: wrap;
  }
  .post-item {
    display: flex;
    flex-wrap: wrap;
  }
  .our-posts {
    margin-top: 66px;
    margin-bottom: 24px;
    font-size: 16px;
  }
  .posts {
    padding: $padding-content_1170;
    width: 1468px;
  }
  .post-item:last-child {
    display: flex;
  }
  .post-item {
    display: flex;
    padding-bottom: 32px;

    .post-item-text {
      padding-left: 21px;

      .post-item-text-description {
        display: block;
        width: 431px;
      }
    }
  }
}