$backgroundMain: rgba(0, 0, 0, 0.0001);
$burger-color: #F5F5F5;
$burger-color-text: #4E4E4E;
$burger-hover: #E5E5E5;
$secondary-color: #2c3e50;
$accent-color: #57A4A4;
$white: #ffffff;
$black: #000000;
$light-gray: #ecf0f1;
$dark-gray: #7f8c8d;
$light-gray: #7C7C7C;

$padding-content_320: 0 25px 0 25px;
$padding-content_768: 0 80px 0 90px;
$padding-content_1170: 0 28px 0 215px;

$base-font-family: "Roboto", sans-serif;
$base-font-size: 14px;
$base-line-height: 1.5;