.image-container {
  padding: $padding-content_320;
}

.responsive-image {
  display: none;
}

@media (max-width: 767px) {
  .image-320 {
    display: block;
    width: 320px;
    background-size: 100% 100%;
  }
}

@media (min-width: 768px) and (max-width: 1169px) {
  .image-container {
    padding: $padding-content_768;
  }
  .image-768 {
    display: block;
    width: 768px;
  }
}

@media (min-width: 1170px) {
  .image-container {
    padding: $padding-content_1170;
    width: 1500px;
  }
  .image-1170 {
    display: block;
    width: 1170px;
  }
}
